<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dba.mapper.AnchorAccountMapper">
  <resultMap id="BaseResultMap" type="dba.model.AnchorAccount">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="room_id" jdbcType="BIGINT" property="roomId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="good_category" jdbcType="VARCHAR" property="goodCategory" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, mobile_phone, room_id, user_name, gmt_created, gmt_modified, version, 
    status, score, good_category
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from anchor_account
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAllAnchor"   resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from anchor_account
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from anchor_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="dba.model.AnchorAccount">
    insert into anchor_account (id, user_id, mobile_phone, 
      room_id, user_name, gmt_created, 
      gmt_modified, version, status, 
      score, good_category)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{mobilePhone,jdbcType=VARCHAR}, 
      #{roomId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{version,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, 
      #{score,jdbcType=INTEGER}, #{goodCategory,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="dba.model.AnchorAccount">
    insert into anchor_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="mobilePhone != null">
        mobile_phone,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="gmtCreated != null">
        gmt_created,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="goodCategory != null">
        good_category,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="mobilePhone != null">
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="goodCategory != null">
        #{goodCategory,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="dba.model.AnchorAccount">
    update anchor_account
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="mobilePhone != null">
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="goodCategory != null">
        good_category = #{goodCategory,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="dba.model.AnchorAccount">
    update anchor_account
    set user_id = #{userId,jdbcType=BIGINT},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      room_id = #{roomId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      good_category = #{goodCategory,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>