<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dba.mapper.DirectionMapper">
  <resultMap id="BaseResultMap" type="dba.model.Direction">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="ad_id" jdbcType="BIGINT" property="adId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, value, type, ad_id, gmt_create, gmt_modify
  </sql>

  <select id="selectByAdId"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from direction
    where ad_id = #{adId}
  </select>



  <delete id="deleteirectionNotInAD">
    DELETE FROM direction
    WHERE ad_id NOT IN (SELECT id FROM ad);
  </delete>

</mapper>