<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dba.mapper.TargettingKeywordsMapper">
  <resultMap id="BaseResultMap" type="dba.model.TargettingKeywords">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="plan_id" jdbcType="BIGINT" property="planId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="relation" jdbcType="TINYINT" property="relation" />
  </resultMap>
  <sql id="Base_Column_List">
    id, plan_id, type, value, relation
  </sql>


  <select id="selectByPlanId"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from targetting_keywords
    where plan_id = #{planId}
  </select>

  <select id="selectByPlanIdType"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from targetting_keywords
    where plan_id = #{planId} and type= #{type} ;
  </select>



  <delete id="deleteTargettingKeywordsNotInPlan" parameterType="java.lang.Long">
    delete from targetting_keywords
    where plan_id not in (select id from plan);
  </delete>

</mapper>