<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dba.mapper.TargettingAgeMapper">
  <resultMap id="BaseResultMap" type="dba.model.TargettingAge">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="plan_id" jdbcType="BIGINT" property="planId" />
    <result column="start_age" jdbcType="TINYINT" property="startAge" />
    <result column="end_age" jdbcType="TINYINT" property="endAge" />
    <result column="relation" jdbcType="TINYINT" property="relation" />
  </resultMap>
  <sql id="Base_Column_List">
    id, plan_id, start_age, end_age, relation
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from targetting_age
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteTargetingAgeNotInPlan">
    delete from targetting_age
    WHERE plan_id NOT IN (SELECT id FROM plan);
  </delete>

</mapper>